<div class="container">
  <h1>Hola mi primer proyecto</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    <li *ngFor="let task of tasks()">
      {{ task }}
    </li>
  </ul>
  <hr />
  <h2>{{ "Hola".repeat(4) }}</h2>
  <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>
  <hr />
  <img [src]="person().avatar" alt="" />
  <input type="number" [value]="person().age" />
  <button [disabled]="disable">Click me</button>
  <p>person: {{ person().name }}</p>
  <hr />
  <button (click)="clickHandler()">Click me</button>
  <button ((dblclick))="clickHandler()">Double me</button>
  <p>(change)</p>
  <input
    type="number"
    [value]="person().age"
    (change)="changeHandler($event)"
  />
  <p>(keydown)</p>
  <input
    type="text"
    [value]="person().name"
    (keydown)="keydownHandler($event)"
  />
  <p>(keydown shift)</p>
  <input
    type="text"
    [value]="person().name"
    (keydown.shift.t)="clickHandler()"
  />
  <ul>
    <p>Total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">{{ i }} {{ task }}</li>
  </ul>
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)" />
  <p>Name: {{ name() }}</p>
  <hr />
  <div *ngIf="1 === 1">My contend</div>
  <div *ngIf="name() === 'Edgardo'">My contend</div>
  <input type="number" [value]="person().age" (change)="changeAge($event)" />
  <div *ngIf="person().name === 'Edgardo' && person().age > 18; else elseBlock">
    Soy edgardo y soy mayor de edad
  </div>
  <ng-template #elseBlock> Soy nicolas y soy menor de edad </ng-template>
  <hr />
  <input type="text" [value]="person().name" (change)="changeName($event)" />
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'Edgardo'">Yo soy Edgardo</p>
    <p *ngSwitchCase="'Julian'">Yo soy Julian</p>
    <p *ngSwitchCase="'Ana'">Yo soy Ana</p>
    <p *ngSwitchCase="'Valentina'">Yo soy Valentina</p>
    <p *ngSwitchDefault>Yo no soy nadie</p>
  </div>
  <hr />
  <input type="color" [formControl]="colorCtrl" />
  <p>Color: {{ colorCtrl.value }}</p>
  <svg>
    <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
  </svg>
  <hr />
  <input type="number" [formControl]="widthCtrl" />
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr />
  <p>
    <input type="text" [formControl]="nameCtrl" /> <br />
    <span
      class="message-error"
      [class.show]="nameCtrl.invalid && nameCtrl.touched"
    >
      Nombre invalido</span
    >
  </p>
  <p>
    <input type="text" />
  </p>
</div>
